* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
}

nav{
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 22px 30px;
  height: 70px;
  display: flex;
}

.logo {
  max-width: 100px;
  margin-left: 36px;
}

.hero_img {
  max-width: 1000px;
  align-self: center;
}

main {
  text-align: left;
  font-family: "Poppins";
  margin-left: 36px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

main h1{
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  margin-bottom: 16px;
}

main p{
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  max-width: 95%;
  margin-top: 0;
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

.card {
  width: 175px;
  font-size: 12px;
}

.card-img1 {
  width: 100%;
  border-radius: 9px;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card_star {
  height: 14px;
}

